@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(192, 192, 192);
    background: url(../imagens/photo-1634017839464-5c339ebe3cb4.avif);
    background-size: cover;
    background-position: top bottom;
    background-repeat: no-repeat;

}

header{
    width: 96vw;
    height: 100vh;
}

form{
    background-color: gray;
    text-align: center;
    padding: 50px;
}

form > input{
    width: 230px;
    height: 30px;
}

nav{
    background-color: yellow;
    height: 80px;
}

nav > button {
    padding: 10px;
    text-align: center;
    min-width: 70px;
    max-width: 150px;
    margin: 5px;
    background-color: red;
}

header > h1{
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    padding-left: 3%;
    font-size: 4em;
    

}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
}

section{
    background-color: gray;
    width: 96vw;
    height: 500px;
    display: block;
    margin: auto;
    

}

div#redessociais{
    background-color: violet;
}

article{
    background-color: rgb(83, 83, 83);
    width: 96vw;
    height: 500px;
    display: block;
    margin: auto;

}




